{% extends 'base.html.twig' %}

{% block title %}Nouveau participant{% endblock %}

{% block body %}
    <h1>Crée un nouveau participant</h1>

    {{ form_start(form) }}

    {{ form_errors(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-sm btn-success">Enregistrer</button>

    <a href="#">Retour</a>

    {{ form_end(form) }}


{% endblock %}
