{% extends 'base.html.twig' %}

{% block title %} Détail {{ sortie.nomSortie }} | {{ parent() }}{% endblock %}

{% block body %}
    <div class="card mt-2 mb-2 w-50 m-auto" >
        <div class="card-body">
            <h5>{{ sortie.nomSortie }}</h5>

    </div>
{% endblock %}



