{% extends 'base.html.twig' %}

{% block title %}Les Sorties {% endblock %}

{% block body %}
<h2> Les Sorties !</h2>
<ul>
    {% for sortie in sorties %}
        <li>
            <article>
                <a
                   title="View this wish in details">{{ sortie.nomSortie }} - {{ sortie.infosSortie }}</a>
            </article>
        </li>
    {% else %}
        <li>Pas de Sortie dans la bd</li>
    {% endfor %}
</ul>

{% endblock %}